{% extends 'auth_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

</style>



<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="{% static 'images/Login.png' %}"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h2 class="mb-5" style="text-align: center;">Sign in</h2><hr>
                
                {% include 'messages.html' %}

                <form method="post">
                    {% csrf_token %}

                    <div class="form-outline mb-4">
                        <label for="">Email Address</label>
                        <input type="email" id="form1Example13" name="email" class="form-control form-control-lg" required/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label for="">Password</label>
                        <input type="password" id="form1Example23" name="password" class="form-control form-control-lg" required/>
                    </div>

                    <div class="d-flex justify-content-around align-items-left mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" style="background-color:  #4B76F1;" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>
                    </div>
                    
                    <!-- Submit button -->
                    <input type="submit" class="btn btn-block btn-lg submit-btn mt-2" style="width: 100%; background-color:  #4B76F1;" value="Login">

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                    <!-- <a class="btn btn-primary btn-lg btn-block mt-2" style="background-color: #3b5998; width: 100%;" href="#!"
                        role="button">
                        <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                    </a>
                    <a class="btn btn-primary btn-lg btn-block mt-2" style="background-color: #55acee; width: 100%;" href="#!"
                        role="button">
                        <i class="fab fa-twitter me-2"></i>Continue with Twitter</a> -->
                </form>
                <div class="container mt-4 ms-4 mb-lg-4" style="text-align: center;">
                    <span class="">Forgot Password? <a href="{% url 'password_reset' %}"> Reset Here</a></span><br>
                    <span class="">Don't have an account?<a href="{% url 'authentication:user-type-choice' %}"> Sign Up</a></span><br>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}