{% extends 'dashboard2.html' %}
{% load static %}
{% block content %}
<!-- {% block title %}Service{% endblock title %} -->
<div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Service List</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>
  
<div class="container">
    <!-- <h3 class="mt-5 mb-5 text-center" style="color: #e55c28;"><strong>BOOK NOW</strong></h3> -->
    <div class="row text-center m-4">
        <div class="row">
            {% for worker_service in worker_services %}
            <div class="col-4">
            <div class="card dashboard-service-card" style="background-color: #f7f7f7;">
                <a href="{% url 'service:worker-list' worker_service.id %}"><img class="service-image mt-4"
                    src="{{ worker_service.service_picture.url }}" width="100" height="100" alt=""></a>
                    <p></p>
                    <p></p>
                <h4 style="color: #25396f ;">{{ worker_service.category_name }}</h4>
              </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}