{% extends 'auth_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
</style>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="{% static 'images/set_password.png' %}" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h2 class="mb-5" style="text-align: center;">Set new password</h2>
                <hr>
                {% include 'messages.html' %}
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input type="submit" class="btn btn-block btn-primary submit-btn mt-2" style="width: 100%; background-color:  #4B76F1;" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
