{% extends 'auth_base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
</style>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="{% static 'images/forgot_password.png' %}" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h2 class="mb-5" style="text-align: center;">Enter email to reset password</h2>
                <hr>
                {% include 'messages.html' %}
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form|crispy }}  
                    </div>
                    <input type="submit" value="Submit" class="btn btn-block btn-lg submit-btn mt-2" style="width: 100%; background-color:  #4B76F1;">
                </form>
                <!-- <a class="btn btn-primary btn-lg btn-block mt-2" style="background-color: #3b5998; width: 100%;" href="#!"
                    role="button">
                    <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                </a>
                <a class="btn btn-primary btn-lg btn-block mt-2" style="background-color: #55acee; width: 100%;" href="#!"
                    role="button">
                    <i class="fab fa-twitter me-2"></i>Continue with Twitter</a> -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}