{% extends 'auth_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="center mt-lg-5 mb-lg-5 ms-5 me-5">
        <h3>About Us</h3>
    </div>
    <div class="para ms-5 me-5">
        <h5>Over View</h5>
        <div class="divider" style="height: 1px; border-bottom: 1px solid black; justify-content:center ;"></div>
        <p>Ghar Sewa itself defines that it provides you range of services at your doorstep. Our dedicated and experienced team will satisfy the customers by fulfilling their requirements. We deliver our services wherever you want. We are well known for providing all kind of services at very lower cost compared to any other.</p>
        <p>One can get both online and offline services anywhere at HomeService, our services can be avail at residential or commercial place. We have specialized team of Electricians, Plumbers, Carpenters and others. HomeService is a place where one can forget his worries about all kinds of problems.</p>
        <p>Many people have needs of services like Pest Control, Indoor and Outdoor Lighting, Plumbing, Home Appliance Repairs etc for which they usually get confuse about where to find these kinds of services. HomeService comes as a solution which saves time in searching for the best services provider in your city, because one can get all services here at one place which will be delivered you at your doorstep.</p>
    </div>
</div>
{% endblock content %}