{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}Home Service{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
  <link rel="stylesheet" href="{% static 'css/font-google.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
</head>

<body>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
      <h6><a href="" class="logo">{{ request.user.name }}</a></h6>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="{% url 'dashboard' %}"><span class="fa fa-home"></span> Home</a>
        </li>
        {% if request.user.is_authenticated and request.user.is_customer %}
        <li>
          <a href="{% url 'service:service-list' %}"><span class="fa fa-cogs"></span> Services</a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated and request.user.is_customer %}
        <li>
          <a href="#"><span class="fa fa-sticky-note"></span> My Booking</a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated and request.user.is_worker %}
        <li>
          <a href="#"><span class="fa fa-sticky-note"></span> Booking Requests</a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated and request.user.is_worker %}
        <li>
          <a href="{% url 'authentication:worker-profile' request.user.pk %}"><span class="fa fa-user"></span> Profile</a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated and request.user.is_customer %}

        <li>
          <a href="{% url 'authentication:cutomer-profile'  %}"><span class="fa fa-user"></span> Profile</a>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'authentication:logout' %}"><span class="fa fa-sign-out"></span> Sign Out</a>
        </li>
      </ul>

      <div class="footer">
        This is footer of sidebar
      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
      {% include 'messages.html' %}

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn" style="background-color: #e55c28;">
            <i class="fa fa-bars" style="color: #fff;"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
              </li>
              {% if request.user.is_authenticated and request.user.is_customer %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service:service-list' %}">Services</a>
              </li>
              {% endif %}
              {% if request.user.is_authenticated and request.user.is_customer %}
              <li class="nav-item">
                <a class="nav-link" href="#">My Bookings</a>
              </li>
              {% endif %}
              {% if request.user.is_authenticated and request.user.is_worker %}
              <li class="nav-item">
                <a class="nav-link" href="#">Bookings Requests</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>


      <div class="main-content">
        <!-- Main Content of the page -->
        {% block content %}
        
        {% endblock content %}
        <!-- End of Main Content -->

      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>