{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="container-xxl mt-5">
    <div class="card card-footer">
        <div class="row mb-4">
            <div class="col-md-4 col-sm-11">
                <div class="footer-text pull-left">
                    <div class="d-flex mb-3">
                        <img src="{% static 'images/Logo.png' %}" height="60px" width="90px" alt="">
                    </div>
                    <p class="card-text">Ghar Sewa itself defines that it provides you range of services at your doorstep.</p>
                    <div class="social mt-2 mb-3">
                        <a class="footer-icon btn btn-outline-light" href="https://www.facebook.com/aaman.mogoll"><i class="fab fa-facebook-f"></i></a>
                        <a class="footer-icon btn btn-outline-light" href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                        <a class="footer-icon btn btn-outline-light" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a class="footer-icon btn btn-outline-light" href="https://www.linkedin.com/in/aman-thapa-1092781a7/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <h5 class="heading">Services</h5>
                <ul>
                    <li>Painting</li>
                    <li>Plumbing</li>
                    <li>Carpentry</li>
                    <li>Electricity</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <h5 class="heading">Address</h5>
                <ul class="card-text">
                    <p><i class="fa-solid fa-location-dot"></i><small class="ms-1 address"> Kumaripati, Lalitpur</small></p>
                    <p><i class="fa-solid fa-phone"></i><small class="ms-1 address"> +977 9807572888</small></p>
                    <p><i class="fa-solid fa-envelope"></i><small class="ms-1 address">gharsewa@gmail.com</small></p>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <h5 class="heading">Company</h5>
                <ul class="card-text">
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>Join Us</li>
                </ul>
            </div>
        </div>
        <div class="divider mb-4">
        </div>
        <div class="row" style="font-size:10px;">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-left">
                    <p><i class="fa fa-copyright"></i> 2022 All Rights Reserved By Home Service</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right mr-4 d-flex policy">
                    <div>Terms of Use</div>
                    <div>Privacy Policy</div>
                    <div>Cookie Policy</div>

                </div>
            </div>
        </div>
    </div>
</div>
